pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
seaborn>=0.12.0
scikit-learn>=1.3.0
statsmodels>=0.14.0
prophet>=1.1.5
xgboost>=2.0.0
plotly>=5.18.0
geopandas>=0.14.0
pycountry-convert>=0.7.2
jupyter>=1.0.0
notebook>=7.0.0
scipy>=1.11.0
fastapi
uvicorn
streamlit
joblib
shap
python-dotenv
tqdm
kaleido>=1.3.0
streamlit
